.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.controls button {
  color: var(--text-secondary);
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.controls button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.controls .start {
  background-color: var(--primary-color);
}

.controls .pause {
  background-color: #E67E22;
}

.controls .reset {
  background-color: var(--reset-color);
}

.controls .switch {
  background-color: var(--secondary-color);
  padding: 15px 36px;
}

@media (max-width: 768px) {
  .controls {
    margin: 7px 0;
  }
  .controls button {
    padding: 10px 24px;
  }
}
